@media only screen and (min-width: 900px) 
{
    header, nav, main, footer {
        display: flex;
        flex-flow: column wrap;
        font-family: 'PT Sans', sans-serif;
        max-width: 1200px;
        font-size: 25px;
        /* line-height:10px; */
        padding: 10;
    }
      
    main{
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        background-color:#FFFFFF;
        justify-content: center;
        
    }
      
    header, footer { 
        font-family: 'Manrope', sans-serif;
        background-color: #118AFF;
        color: azure;
        text-align: center;
        border-radius: 10px; 
    } 
    
    .section-1{
        line-height: 17px;
    }

    div.section-1, div.section-2, div.section-3, div.section-4{
        margin: 5px auto;
        /* background-color: #99CDFF; */
        justify-content: space-between;
        align-items: center;
        text-align: center;
        max-width: 350px;
        min-width: 400px;
        font-size: 18px;
        padding: 10px;
      }
      .section1-image{
        max-width: 350px;
      }

    nav{
        flex-direction: row;
        /* justify-content: s; */
        align-items: center;
        /* padding: 10px; */
    }
    nav a{
        padding: 25px;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    .weather-container{
        /* border:#333; */
        /* max-width: 125px; */
        /* flex-direction: column; */
        /* font-size:5px; */
        /* background-color: red; */
        /* margin: 5%; */
        /* padding: 5px; */
        /* line-height: 25px; */

      }
    .hero-image{
        max-width: 25%;
        
    }
}