body {
    background-color: #99CDFF ;
    line-height: 2rem;
    /* min-width: 200px; */
    padding: .5rem;     
  }
#main-container{
    display: flex;
    flex-direction: row; 
    
  }
header, nav, main, footer {
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  margin: 1rem auto;
  width: 90%; 
  min-width: 50%;
  max-width: 95%;
  padding: 5px;
  
}
header, footer, div.banner-top{
  box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.9);
}
main{
  display: flex;
  flex-direction: row;

  /* column-width: 200px; */
  
}


header, footer { 
  font-family: 'Manrope', sans-serif;
  color: black;
  text-align: center;
  line-height: 15px;
  border-radius: 10px;
  font-size: 10px;
  background-color: #118AFF; 
}


.hero-image{
  max-width:100%; 
  box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.9);
}
div.section-1, div.section-2, div.section-3, div.section-4{
  margin: 1rem;
  /* background-color: #99CDFF; */
  max-width: 350px;
  box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.9);
  
  
}

.section-1, .section-2{
  /* justify-content: space-evenly; */
  Max-width: 90%;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.5);
}

.section1-image{
  max-width: 350px;
  /* min-width: 100px; */
  margin: 3rem;
  border-radius: 1rem;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 1); 
}

p{
  font-size: 20px;
}

.paragraphHeader{
  text-align: left;
  text-decoration: underline;

}
.header-logo{
  width: 75%;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  margin: 1rem auto;
  max-width: 650px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);

}
nav{
  flex-direction: column;
  justify-content: space-evenly;
}

nav a:hover{
   background-color: #FFFFFF;

}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
  
}

nav {
  background-color: #eee;
  border-radius: .5rem;
  width: 3rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0,0,0,0.5);

}

nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);

}

nav ul {display: none;}

nav ul.open {display: block;
  justify-content: flex-start;
  align-items: flex-start;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#banner-top{
    /* display: none; */
    background-color: rgba(243, 60, 15, 0.923);
    padding: 5px;
    /* margin: 15px auto; */
    text-align: center;
}

/*--------Weather--------*/
.weather-container{
  display: flex;
  border: 1px black solid;
  box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.9);
  /* max-height: 250px; */
}
.weather-content{
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;
}
.weather-temp{
  margin-top: -1rem;
}
#current-temp{
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.w-icon figcaption{
  margin-top: -3rem;
}
.w-icon{
  margin-top: -2rem;
  margin-right:2rem;
  font-size: 1rem;
}
.w-icon img{
  width: 40%;

}
.wind-factor{
  text-align: center;
  line-height: 4px;
  /* border-top: black 1px solid; */
}

.weather-by{
  text-align: center;
  margin: 1rem;
} 

/*-----Main page Spotlight-----*/
.spotlight-container{
   justify-self: flex-end;
  
}
.spotlight-img {
  width: 100%;
  border: black 1px solid;
  box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.9);
  
}

.homepage-container{
  margin: 2rem auto;
  flex-direction: row;

}

.homepage-join, #homepage-news, .homepage-events{
  width: 1fr;
  border: black 1px solid;
  padding: .5rem;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 2px 5px 12px 0 rgba(0, 0, 0, 0.9);
}

.homepage-news{
   flex-wrap: wrap;
}



/*----Discovery Page------*/
#discovery-container{
  padding: 1rem;
}
#discovery-container h2{
  text-align: center;
}
#discovery-container img{
  justify-content: center;
}


/*----Diriectory Page----*/
#directory-container{
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  width: 90%;
}
.directory-img{
  max-width: 95%;
  border: black 1px solid;
  row-gap: 4em;
}


.directory-container div{
  max-width: 90%;

}

/* -------Join Page-------- */

.join-form h2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
}
label.top {
  display: block;
  padding-top: 1.15rem;
  font-family: 'Manrope', sans-serif;
  color: black;
  font-weight: bolder;
}

form label.sbs {
  display: block;
  font-size: 2rem;
  padding: 1.5rem;
  color: Blue;
  font-weight: bolder;
  
}

.sbs-label{
  border: black solid 2px;
  margin-bottom: 3rem;
  background-color: white;
}
legend {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
  padding: 5px;
  background-color: blue;
  border-radius: 1rem;
  color: white;
}
fieldset.membership-option{
  align-items: center;
  width: 90%;
}
form fieldset {
  max-width: 90%;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 3rem auto;
  padding: 2rem;
  border: black 2px solid;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.5), 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}
form label.top input, textarea {
  display: block;
  width: 100%;
  max-width: 96%;
  padding: .50rem 0;
  border: 1px solid gray;
  border-radius: 3px;
}
form input.submitBtn {
  width: 90%;
  max-width: 15rem;
  padding: 1rem;
  background-color: blueviolet;
  color: white;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-left: 5%;
}
form input.submitBtn:hover {
  background-color: blue;
}
#grow-business{
  margin: 0 5rem auto;
  text-indent: 1.5em;
  padding: 6px;

}
#membership-ben {
  text-align: center;
  
}
#membership-free{
  margin-left: 5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

/*--------Table---------*/
table{
  margin: 0 3rem auto;
  width: 85%;
  border-collapse: collapse;
  font-family: 'Manrope', sans-serif;
  border: 2px solid Black;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 12px 0 rgba(0, 0, 0, 0.3);

}

.heading{
  border-bottom: 1px solid Black;
  width: 7rem;
}
tfoot{
  background-color: blue;
  color: white;
  border-top: 1px solid black;
  
}
td{
  border-left: 1px solid black;
  text-align: center;
}
th{
  background-color: blue;
  color: white;
  border: 1px black;
  border-style: solid solid none solid;
  padding: 1ch;
}
tr:nth-child(even) td{
  background-color:  lightgray;
  border-left: 1px solid black;
}
#toph{
  background-color:blueviolet;    
}
#topd{
  background-color: blue;
  border-top: 1px solid black;
}


/*-----------Contact---------------*/
label.cont-fields {
  display: block;
  padding: .50rem 0;
  font-weight: bold;

 
}

label.cont-fields input {
  display: block;
  width: 100%;
  max-width: 96%;
  border: 1.5px solid black;
  padding: .50rem 0;
}

#contact div {
  width: 75%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

/*------Contact Button--------*/
.contactBtn {
  margin: 1rem 0 1rem 1rem;
  padding: .50rem;
  background-color: blueviolet;
  color: White;
  font-weight: bold;
  border: none;
  
}
.contactBtn:hover {
  background-color: Blue;
  color: white;
}

