body {
    background-color: rgb(128, 156, 156);
}

main{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 5px;
}

.topSection, .middleSection, .bottomSection{
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 1rem;
    padding: 5px;
    min-width: 90%;
    background-color:rgb(0, 252, 230);
    margin: 7px;
     
}
.topSection{
    font-size: 12px;
}
.bottomSection{
    font-size: 12px;
}


