body {
    display: flex;
    background-color: lightcyan;
    margin: 0 auto;   
}

main{
    display: flex;
    margin: 0 auto;
}

.container{
    display: flex;
    background-color: darkgray;
    border-color: black;
    border: 1rem solid;
    margin: 0 auto;

}

.topSection{
    align-items: center;
}

.middleSeciton{
    align-items: center;
}

.bottomSeciton{
    align-items: center;
}

