@media only screen and (min-width: 640px) 
{
    header, footer {
        font-family: 'Manrope', sans-serif;
        /* font-size: ; */
        background-color: blue;
        text-align: center;
       
      }
      
      main{
        grid-template-columns: 1fr 1fr;
      }
     
      h1{
        font-family: 'Manrope', sans-serif;
        /* font-size: 24px; */

      }
      .headerName{
        text-align: center;
        
      }
      footer{
        font-size: 15px;
      }
      
      .assignment{
        grid-column: 1 / span 2;
        text-align: left;
      }
}