body {
    
    background-color: rgb(46, 46, 46);
    line-height: 2rem;
    font-size: large;
    padding: .5rem; 
    /* min-width: 240px; */
    
  }

header, nav, main, footer {
  font-family: 'PT Sans', sans-serif;
  
  margin: 1rem auto;
  max-width: 975px;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  text-align: center;
  border-radius: 10px;
}

header, footer { 
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Manrope', sans-serif;
  background-color: orange;
  color: azure;
  text-align: center;
  border-radius: 10px;  
  
}

header{
  font-size: 1rem;
  
}

footer{
  font-size: 10px ;
  line-height: .6rem;

}
h5 {
  margin: 15px;
  text-align: center;
  background-color: blue;
  color: white;
}
.column{
  grid-column: auto;
  border-radius: 15px;
  justify-self: center;
  align-self: center;
}

section{
  justify-self: center;
  background-color: orange;

}
.fitts{
  max-width: 85%;
  margin: 5%;
  width: 100%;
}

.contrast{
  max-width: 85%;
  margin: 5%;
  width: 100%;
}

.rule-of-thirds{
  max-width: 85%;
  margin: 5%;
  width: 100%;

}

img {
  width: 7rem;
  min-width: 1fr;
  margin-top: 2rem;
  margin-left: 2rem; 
  margin-bottom: 2rem;
  border-radius: 10px;
}


.assignment{
  align-self: center;
  padding-left: 8rem;
  background-color: transparent;
  min-width: 8rem;
}

h2.main {
  grid-row: 1;
}



